@mixin btn($bg-color, $text-color, $font-weight: normal) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: $font-weight;
}